@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4 text-center">Welcome</h1>

    <p>Neprisijungus galima tik pamatyti kokios dainos yra saraše</p>

    <p> Prisijungus galima</p>
    <ul>
        <li> sukurti naują įrašą</li>
        <li> pakeisti esamą įrašą</li>
        <li> peržiūrėti įrašą detaliau</li>
        <li> ištrinti esamą įrašą</li>
    </ul>
    
    <p> Užsiregistravimui reikia tik:</p>
    <ul>
        <li> vardo</li>
        <li> elektronio pašto</li>
        <li> slaptažodžio</li>
    </ul>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
